.panda-info-background{
    background-color: #FEEAE9;
}
/* .categories img{
    width: 100px;
} */
.panda-buy-now-btn{
    color: #fff;
    background-image: linear-gradient(to bottom, #ff589b 0%, #FF136F 100%);
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}